node_modules/
dist
build
coverage
*.log
.env
.env.local
.env.*.local
.env.development
.DS_Store
.idea/
.vscode/


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.coverage

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
